.tab-products{
  margin: 5% 0;
}

.title{
  text-align: center;
  margin: 5% 5%;
}

.addProducts{
  text-align: center;
}

.add-form{
  margin: 3% auto;
  width: 30%;
}

.edit-goods{
  margin: 3% auto;
  text-align: center;
}