/*Product Section*/
#products{
	padding: 5% 15%;
}

.products-title{
	text-align: center;
}
.btn-cart{
	display: block;
	margin: 0 auto;
}

.products-box{
	margin: 5% 5%;
}

#page-num{
	font-size: 1.45rem;
	padding: 5% ;
}

.price-col{
	margin-top: 8%;
	text-align: center;
}