#banner{
	background: rgb(32,64,81) ;
}


h1{
	margin: 5% 0;
	color: #fff;
	text-align: center;
}

.banner-form{
	margin-top: 5%;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

#footer{
	background: #fff;
	color: black;
}


@media only screen and (max-width: 1200px){
	.banner-form{
		width: 70%;
	}
}