#order-status{
	padding: 6% 0;
	margin: 5% 0;
		font-family: 'Montserrat', sans-serif;
}

@media only screen (max-width: 900px){
	.table{
		overflow-x: auto;
		overflow-y: hidden;
	}
}

	